NEXT_PUBLIC_APP_URL=https://coolcarcentrale.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__UTVA2I-QChRJI1F5yAjnQ_laI6WaGY
# NEXT_PUBLIC_SUPABASE_ANON_KEY=your-legacy-anon-key
